.clock {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    margin-bottom: 20px;
}

.clock div:nth-child(1) {
    font-weight: bold;
    display: inline-block
}

.clock div:nth-child(2) {
    color: red;
    display: inline-block
}